#----------------------------------------------------------
# Files Configurations
#----------------------------------------------------------


#----------------------------------------------------------
# Folders configurations
#----------------------------------------------------------
node_modules/
dist/