#----------------------------------------------------------
# Files Configurations
#----------------------------------------------------------
.env
.gitignore

#----------------------------------------------------------
# Folders configurations
#----------------------------------------------------------
node_modules/
dist/