version: "3"

services:
    node:
        image: viniciusmattosrj/node:12.13-slim
        container_name: node-app
        restart: on-failure
        networks:
            - app-network
            
networks:
    app-network:
        driver: bridge
